.git
.DS_Store
**/.DS_Store

**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/.cache
**/coverage
**/*.tsbuildinfo

packages
backup
docmost-temp
tmp-landing-assets
pgdata
docker/database/pgdata
docker/.generated

*.log
