zapy
dbdatamongo
editorlocal
pgdata
uilocal
.gitconfig.pers
/**/node_modules
/**/.next
.env.local
.env
**/**/.gradle
**/**/build

uploads
*-temp.*
liquibasebin
keycloakbin
images
.env
zappy
*.pyc
ui/public/workers
ui/public/jbi.wasm
logs
*.wasm
collabserver/dist

redis-data
redis-logs
.npmrc
packages/whiteboard
packages/whiteboard-demo
packages/rtc-collaboration
packages/rtc-collaboration-demo

signalserver