textArea {
    display: block;
    height: 34px;
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    /* letter-spacing: -0.1rem; */
    line-height: 1.1;
    outline: none;
    border: none;
    /* font-size: 28px; */
    font-family: inherit;
    font-weight: 700;
    text-align: initial;
    height: 37px;
    padding: 0;
    box-shadow: none;
    resize: none;
    white-space: pre-wrap;
    margin: auto;
    text-overflow: ellipsis;
    box-sizing: border-box;
    font-size: 2em;
}

.collaboration-carets__caret {
    pointer-events: none;
    position: relative;
    margin-left: -1px;
    margin-right: -1px;
    overflow-wrap: normal;
    word-break: normal;
    border-right-width: 1px;
    border-left-width: 1px;
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.collaboration-carets__label {
    position: absolute;
    left: -1px;
    top: -1.4em;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    white-space: nowrap;
    border-radius: 0.25rem;
    border-top-left-radius: 0;
    padding: 0.125rem 0.375rem;
    font-size: 0.75rem;
    line-height: 1rem;
    font-weight: 600;
    line-height: 1;
    --tw-text-opacity: 1;
    color: rgb(0 0 0 / var(--tw-text-opacity));
}
