#shortcut-container {
    visibility: var(--styled-overlay-visibility)
}

.shortcut-overlay {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(31, 35, 40, 0.12) 0px 1px 3px, rgba(66, 74, 83, 0.12) 0px 8px 24px;
    position: absolute;
    min-width: 192px;
    height: auto;
    width: 320px;
    border-radius: 12px;
    overflow: hidden;
    animation: 200ms cubic-bezier(0.33, 1, 0.68, 1) 0s 1 normal none running overlay-appear;
}

.shortcut-list-box {
    margin: 0px;
    padding-inline-start: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: block;
    list-style-type: disc;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.shortcut-list-item {
    position: relative;
    display: flex;
    padding: 6px 8px;
    font-size: 14px;
    line-height: 20px;
    min-height: 5px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 6px;
    transition-behavior: normal;
    transition-duration: 33.333ms;
    transition-timing-function: linear;
    transition-delay: 0s;
    transition-property: background;
    color: rgb(31, 35, 40);
    cursor: pointer;
    appearance: none;
    background: unset;
    border: unset;
    width: calc(100% - 16px);
    font-family: unset;
    text-align: unset;
    margin-top: unset;
    margin-bottom: unset;
}

.item-box-divider-contianer {
    position: relative;
    display: flex;
    flex-direction: column;
    -webkit-box-flex: 1;
    flex-grow: 1;
    min-width: 0px;
}

.item-box-divider-contianer::before {
    content: " ";
    display: block;
    position: absolute;
    width: 100%;
    top: -7px;
    border-width: 0px;
    border-style: solid;
    border-image: initial;
    border-color: var(--divider-color,transparent);
}
.item-box {
    display: flex;
    -webkit-box-flex: 1;
    flex-grow: 1;
}

.item-box-text {
    -webkit-box-flex: 1;
    flex-grow: 1;
    font-weight: 400;
}